-<!DOCTYPE html>
-<html>
-<head>
    -    <style>
    -        body {
        -            background-color: powderblue;
        -        }
    -
    -        h1 {
                 -            color: blue;
                 -        }
    -
    -        p {
                 -            color: red;
                 -        }
    -    </style>
    -
    -    <h1>Welcome to the Nanny App</h1>
    -    <p><a href="http://localhost:8000/login">Login</a></p>
    -    <p><a href="http://localhost:8000/register">Sign Up</a></p>
    -    <p><a href="http://localhost:8000/employer_add">add employer</a></p>
    -    <p><a href="http://localhost:8000/expense_add">add expense</a></p>
    -    <p><a href="http://localhost:8000/showdata">show data</a></p>
    -</head>
-</html>